h1{
    padding: 100px;
}

.col-md-12{
    background-image: url(./picha/prj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}
.col-md-12{
    padding-left: 400px;
    padding-top: 200px;
}

input{
    height: 50px;
    width: 300px;
}
button{
    height: 50px;
}
h3{
    padding-top: 150px;
}
/* h5{
    padding-left: 20px;
} */
.mt-180{
    margin-top: 180px;
}
nav{
    font-size: x-large;
}